.cproject
.project
.settings
*.la
*.lo
*.o
*.pc
.deps
.libs
.*.swp
*.zip
*.gz
*.jpg
*.mmp
*.mov
*.ogg
*.png
*.tar
*.rar
*.qm
Makefile*
prototypes/sdl/run
prototypes/wx-01-simple/run
prototypes/wx-03-polyline/run
prototypes/wx-04-gst/run
Debug/
Release/
mapmap
moc_*.cpp
prototypes/gst/
prototypes/wx-02-input-output/run
qrc_*.cpp
qteditorfactory.moc
qtpropertymanager.moc
qttreepropertybrowser.moc
html/
.DS_Store
.qmake.stash
Info.plist
*.xcodeproj/
*.pro.user*
*.app
