*.la
*.lo
*.o
*.pc
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
data/mapmap.desktop.in
libtool
m4/
po/Makefile
po/Makefile.in
src/config.h
src/config.h.in
src/mapmap
src/stamp-h1
