*.la
*.lo
*.o
*.pc
.deps
.libs
.*.swp
*.zip
*.gz
*.tar
*.rar
Makefile
prototypes/sdl/run
prototypes/wx-01-simple/run
prototypes/wx-03-polyline/run
prototypes/wx-04-gst/run
Debug/
Release/
libremapping
moc_DestinationGLCanvas.cpp
moc_MapperGLCanvas.cpp
moc_MainWindow.cpp
moc_SourceGLCanvas.cpp
prototypes/gst/
prototypes/wx-02-input-output/run
qrc_libremapping.cpp
html/
